.tools/
.vs/
.zig-cache-global/
.zig-cache-local/
x64/

TinyEngine/.vs/
TinyEngine/x64/
TinyEngine/TinyEngine/x64/
TinyEngine/imgui.ini
TinyEngine/TinyEngine/imgui.ini
TinyEngine/**/*.user
TinyEngine/**/*.obj
TinyEngine/**/*.pdb
TinyEngine/**/*.idb
TinyEngine/**/*.ilk
TinyEngine/**/*.log
TinyEngine/**/*.recipe
TinyEngine/**/*.tlog
